/* General Styles */

text.general_text {
  font: 14px sans-serif;
}

/* Style for RBM Graph */

svg.figures {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color:rgba(0, 0, 0, 0.05);
}

line.RBM_line {
    stroke:rgb(0,0,0,0.7);
    stroke-width:2.0;
}

circle.hidden_circle {
    opacity: 0.5;
    stroke: blue;
    stroke-width: 2;
}

circle.visible_circle {
    opacity: 0.5;
    stroke: black;
    stroke-width: 5;
}

div.tooltip {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    background-color: lightblue;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    font-weight: bold;
    color: orange;
}


body {
    margin: 10px
    font: 12px sans-serif;
}


/* Slider Style */

line.track {
  stroke: #000;
  stroke-opacity: 0.1;
  stroke-width: 10px;
  shape-rendering: crispEdges;
}

line.track-inset {
  stroke: #ddd;
  stroke-width: 8px; /* How thick is slider bar */
}

line.track, /* make round edges  */
    .track-inset,
    .track-overlay {
  stroke-linecap: round;
}

line.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

circle.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}


g.ticks {
  font: 12px sans-serif;
}


/* Plot Style */

path.lines {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

text.axis-text {
  font: 12px sans-serif;
}

text.plot-title {
  font: 12px sans-serif;
}

g.plot-ticks {
  font: 12px sans-serif;
}

g.mouse_area {
  opacity: 0;
}

g.guides {
  stroke-width: 1px;
}
g.guides line {
  stroke: #BBF;
  shape-rendering: crispEdges;
}
g.guides circle {
  fill: #BBF;
  stroke: #348;
  opacity: 0.2;
}


/* Style for 2-level system */
/* 
.lines {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}







.mouse_area {
  opacity: 0;
}
.guides {
  stroke-width: 1px;
}
.guides line {
  stroke: #BBF;
  shape-rendering: crispEdges;
}
.guides circle {
  fill: #BBF;
  stroke: #348;
  opacity: 0.2;
}


.rules line, .rules path {
  shape-rendering: crispEdges;
  stroke: #000;
}

.rules .tick {
}
.rules .minor {
  stroke: #BBB;
}
.rules .domain {
  fill: none;
}

/* 
.grid .tick {
  stroke: #CCC;
}
 */

.axis {
  // default styling
  fill: none;
  path, line {
    shape-rendering: crispEdges;
    stroke: #eee;
    stroke-width: 1;
  }


.series path {
  fill: none;
  stroke: #348;
  stroke-width: 3px;
}
 */
